<h1>Cart</h1>
    <div class="row" ng-repeat="cartitem in cart" >
          <div class="small-4 column">
            <img ng-src="{{cartitem.item.photo}}?{{$index}}" class="md-avatar" alt="{{cartitem.item.name}}" />
	  </div>
          <div class="small-2 column">{{ cartitem.item.name }}
	  </div>
	  <div class="small-2 column">{{ cartitem.quantity }}</div>
	  <div class="small-2 column"><button type="button" name="Add To Cart" ng-click="changeQuantity($event, item)">Change Quantity</button></div>
	  <div class="small-2 column">
            <button type="button" name="Add To Cart" ng-click="removeFromCart($index, item)">Remove</button>
	  </div>
    </div>
