<custombike fork-color = "forkColor" frame-color="frameColor" 
seat-color='seatColor' handle-color="handleColor" frame-decal-color='frameDecalColor'></custombike>
<button ng-click="click()">Change Directive Text</button>

<button colorpicker type="button" colorpicker-position="top" ng-model="forkColor">Change Color of Fork</button>
<button colorpicker type="button" colorpicker-position="top" ng-model="frameColor">Change Color of Frame</button>
<button colorpicker type="button" colorpicker-position="top" ng-model="seatColor">Change Color of Seat</button>
<button colorpicker type="button" colorpicker-position="top" ng-model="handleColor">Change Color of Handle</button>

<button colorpicker type="button" colorpicker-position="top" ng-model="frameDecalColor">Change Color of Frame Decal</button>