<div class="row">
  <div class="large-4 small-4 columns">
    <button type="button" ng-click="goToBikePart(forks)">Forks</button>
    </div>
  <div class="large-4 small-4 columns">
    <button ng-click="goToBikePart(frames)" type="button">Frames</button>
  </div>

      <div class="large-4 small-4 columns">
	<button ng-click="goToBikePart(seats)" type="button">Seats</button>
	</div>
</div>

<div class="row">
  <div class="large-4 small-4 columns">
    <button ng-click="goToBikePart(handles)" type="button">Handles</button>
  </div>
  <div class="large-4 small-4 columns">
    <button ng-click="goToBikePart(wheels)" type="button">Wheels</button>
  </div>
  <div class="large-4 small-4 columns">
    <button ng-click="goToCustomBike()" type="button">Custom Bikes</button>
  </div>
</div>
